*{
	margin:0px;
	padding:0px;
	font-family: Helvetica Neue; 
}

/*titulo*/

h2{
		text-align: center;
}
div#titulo{
	width:100%;
	margin-top:60px;
}
button{
	height: 55px; 
	padding-left: 5px;
	padding-right: 5px;   
	margin-bottom: 20px; 
	margin-top: 10px;   
	text-transform: uppercase;
	background-color: #017bab; 
	border-color: #017bab; 
	border-style: solid; 
	border-radius: 10px;  
	width: 1200px;   
	cursor: pointer;
  }
p#header{
	text-align: center;
	font-size: 2.5em;
	color:#290f68;
}

h1#header{
	text-align: center;
	font-size: 2.5em;
	color:#000000;
}
p.hola{
	color:white;
}
p#subheader{
	text-align: center;
	color:#cecece;
	margin-top:20px;
	font-size: 1.3em;
}

header{
	margin:250px auto;
	width:1200px;
	height:230px;
	background-color: rgba(0, 255, 213, 0.397);
}

div.contenedor{
	width: 300px;
	height: 300px;
	float:left;
	-webkit-transition: height .6s;
}



div#dos{
	background-color: rgb(75, 216, 70);
}

div#tres{
	background-color: rgb(7, 163, 103);
}

div#cuatro{
	background-color: rgb(22, 162, 120);
}

div#cinco{
	background-color: rgb(39, 117, 81);
}

img.icon{
	display: block;
	margin:50px auto;
	background-color: rgba(255,255,255,.15);
	width:90px;
	padding:10px;
	-webkit-border-radius: 50%;
	-webkit-box-shadow: 0px 0px 0px 30px rgba(255,255,255,0);
	-webkit-transition:box-shadow .6s;
}

p.texto{
	font-size: 1.2em;
	color:white;
	text-align: center;
	padding-top:10px;
	opacity: .6;
	-webkit-transition: padding-top .4s;
}

div.contenedor:hover{ 
	height:280px;
}

div.contenedor:hover p.texto{
	padding-top: 4px;
	opacity: 1;
}

div.contenedor:hover img.icon{
	-webkit-box-shadow:0px 0px 0px 0px rgba(255,255,255,.6);
}

